<section class="bg-green-own py-12">
  <p
    class="max-w-6xl text-center mx-auto text-2xl font-titulos font-normal leading-normal"
  >
    “…Porque si nosotros como académicos permitimos hacer combustiones abiertas,
    estamos liberando una gran cantidad de <strong>sustancias químicas peligrosas</strong>. Por
    ello tratamos de producir equipos cerrados y que los contaminantes, sobre todo
    volátiles, se fijen químicamente, es decir, se neutralicen o se hagan inocuos
    haciéndolos burbujear en sustancias específicas, lo cual aplica en este
    prototipo. Incluso ya grabamos cómo producir fertilizante. El amoniaco
    reacciona con el ácido formando sal y agua; se fija y el producto es algo útil
    para las plantas: el <strong>fertilizante”</strong>
  </p>

</section>
