---
import Logo from "@/components/Logo.astro";
import LogoLow from "@/components/LogoLow.astro";
import { main } from "@/config/menu.json";
interface main {
  name: string;
  url: string;
}
---

<header id="header" class="fixed top-0 z-50 w-full py-1 md:py-2 hidden md:block">
  <nav
    class="navbar px-5 mx-auto flex flex-wrap items-center justify-between w-full z-50 top-0 hover:transition-all animate-fade-down animate-duration-1000 leading-loose"
  >
    <!-- logo -->
    <div class="order-0">
      <a href="/"><Logo class="logo hidden md:block h-8 saturate-0 brightness-10" /></a>
      <a href="/"><LogoLow class="logo md:hidden h-7 saturate-0 brightness-10" /></a>
    </div>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex gap-x-5"
      >
      {
        main.map((item) => (
          <li class="font-bold">
              <a
                href={item.url}
                class={`hover:text-blue-own transition-all`}
              >
                {item.name}
              </a>
          </li>
            ))
          }
      </ul>
    </div>
  </nav>
</header>
<style>
  a.active {
    text-decoration: overline;
  }
  .menu-down {
    background-color: rgba(255, 255, 255, 0.4);
    transition: var(--transition-smooth);
    .logo {
      filter: saturate(130%) brightness(100%);
    }
  }
</style>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleButton = document.querySelector("[data-collapse-toggle]");
    const navbar = document.getElementById("navbar-default");
    const header = document.getElementById("header");

    window.addEventListener("scroll", function () {
      if (window.scrollY > 0) {
        header.classList.add("menu-down");
      } else {
        header.classList.remove("menu-down");
      }
    });
  });
</script>
