<div class="hero text-center min-w-full h-svh flex items-center px-2s mx-auto">
  <!--   <div class="h-24 bg-gradient-to-t from-pinkown w-full absolute self-end"></div> -->
  <div class="mx-auto w-[1200px]">
    <h1
      class="animate-fade-up animate-duration-1000 text-lg font-semibold text-darkestblue-own flex flex-col items-center"
    >
      <span class="uppercase font-black text-3xl md:text-5xl">Generador</span> y
      <span class="uppercase font-black text-3xl md:text-5xl">Reactor</span>
      <span class="text-xl block mt-2 font-normal">de amoníaco</span>
    </h1>
    <div class="mt-10">
      <img
        class="reactor shadow-yellow-950 shadow-2xl mx-auto max-h-[350px] md:max-h-[500px]"
        src="./img/reactoramoniaco.jpg"
        alt="modelo"
      />
    </div>
  </div>
</div>
<style>
  @keyframes fade-in {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: 0.8;
      transform: translateY(20%) scale(0.5);
    }
  }
  .reactor {
    view-timeline-name: --reactor-fade;
    view-timeline-axis: block;
    animation-timeline: --reactor-fade;
    animation-name: fade-in;
    animation-range: entry 130% cover 100%;
  }
</style>
