<section class="bg-bluemain-own py-12">
  <article class="max-w-6xl mx-auto">
    <h2 class="text-beigelight-own">
      ¿Cuál es la importancia de este trabajo?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 m-12 mx-auto gap-x-8">
      <div class="bento md:col-span-2 grid grid-cols-2 gap-x-6 gap-y-4">
        <div class="card col-span-2">
          <h3>Relevancia del amoniaco</h3>
          <p>
            En el siguiente video se explora la relevancia del amoniaco en la
            industria química, abarcando su fórmula, propiedades físicas y
            químicas, así como los descubrimientos de sus creadores, laureados
            con el Premio Nobel de Química por lograr la síntesis del amoniaco a
            partir de hidrógeno y nitrógeno.
          </p>
        </div>
        <div class="card col-span-2 md:col-span-1">
          <h3>Producción de fertilizantes</h3>
          <p>
            A través de experimentos, el video demuestra las cadenas de
            producción de fertilizantes químicos y derivados del amoniaco.
            Además, se incluyen fragmentos de video que ilustran la síntesis del
            amoniaco y la obtención de productos a nivel industrial.
          </p>
        </div>
        <div class="card col-span-2 md:col-span-1">
          <h3>Equipo especializado</h3>
          <p>
            Cabe destacar que el video fue realizado con un equipo de
            laboratorio especializado, el Generador y Reactor de amoniaco.
          </p>
        </div>
      </div>
      <div class="bento grid grid-cols-1 gap-x-6 gap-y-4">
        <div class="card text-2xl prose text-darkestblue-own !bg-yellow-own">
          “…Porque si nosotros como académicos permitimos hacer combustiones
          abiertas, estamos liberando una gran cantidad de <strong
            >sustancias químicas peligrosas</strong
          >...”
        </div>
        <div class="card">
          <h3>Práctica segura</h3>
          <p>
            La incorporación de este reactor permitirá a los estudiantes del CCH
            experimentar de manera práctica y segura los conceptos asociados al
            equilibrio químico
          </p>
        </div>
      </div>
    </div>
  </article>
  <article class="max-w-6xl mx-auto">
    <h2
      class="text-beigelight-own mb-12"
    >
      Videos
    </h2>
    <div class="grid grid-cols-2 gap-x-6 gap-y-4">
      <lite-youtube
        videoid="8DPY2oi7eWk"
        videotitle="Modelo de Utilidad 4874 (Generador y reactor de amoniaco) | Química III | CCH UNAM"
      >
      </lite-youtube>
      <lite-youtube
        videoid="F408NSHAnKY"
        videotitle="GENERADOR Y REACTOR DE AMONIACO, CCH NAUCALPAN. La UNAM responde 503."
      >
      </lite-youtube>
    </div>
  </article>
</section>
<script>
  import "@justinribeiro/lite-youtube";
</script>
