<section class="bg-red-500 container mx-auto">
  <div class="grid grid-cols-3 prose mx-auto my-5 bg-red-100 items-center gap-10">
    <p class="col-span-2">
      En 2018, Taurino Marroquín Cristóbal, entonces jefe de los Laboratorios LACE
      del Sistema de Laboratorios para el Desarrollo y la Innovación (SILADIN) del
      CCH Naucalpan, creó un generador y reactor de amoniaco. Este dispositivo
      surgió de la necesidad de realizar reacciones químicas relacionadas con el
      aprendizaje de la Unidad 3 de Química 3, cuyo enfoque son los fertilizantes.
    </p>
    <img src="/img/marroquin.webp" alt="Taurino Marroquin">
  </div>

</section class="bg-red-500">
