<section class="mx-auto mt-10 bg-blue-own text-beigelight-own">
  <article class="py-14">
    <div
      class="max-w-6xl grid grid-cols-3 mx-auto items-center justify-center gap-x-20"
    >
      <div class="col-span-2 prose-base">
        <p>
          En 2018, Taurino Marroquín Cristóbal, entonces jefe de los
          Laboratorios LACE del Sistema de Laboratorios para el Desarrollo y la
          Innovación (SILADIN) del CCH Naucalpan, creó un generador y reactor de
          amoniaco. Este dispositivo surgió de la necesidad de realizar
          reacciones químicas relacionadas con el aprendizaje de la Unidad 3 de
          Química 3, cuyo enfoque son los fertilizantes.
        </p>
        <p>
          La generación se logra mediante la descomposición del hidróxido de
          amonio al inyectarle aire comprimido, mientras que la descomposición
          se realiza a través de tubos que permiten llevar a cabo hasta cinco
          reacciones químicas simultáneamente, una característica muy valorada
          en la industria química.
        </p>
      </div>

      <img
        src="/img/marroquin.webp"
        class="rounded-full overflow-hidden"
        alt="Taurino Marroquin"
      />
    </div>
  </article>
  <div class="w-full py-14">
    <div
      class="max-w-6xl grid grid-cols-3 mx-auto items-center justify-center gap-x-20"
    >
      <img
        src="/img/taurino-marroquin-reactor-amoniaco.webp"
        alt="Reactor de amoniaco"
      />
      <div class="col-span-2 prose-base">
        <p>
          Aunque este prototipo podría tener aplicaciones industriales para
          generar múltiples productos, su enfoque principal es la enseñanza. En la
          industria, el amoníaco resultante podría diluirse con ácidos fuertes
          para producir fertilizantes. Además, al ser un sistema cerrado, permite
          trabajar en condiciones óptimas debido a la ausencia de fugas y su
          control mediante un sistema de llaves, según comentó el Mtro. Marroquín
          en una entrevista.
        </p>
      </div>
    </div>

  </div>
</section>
