<p class="max-w-5xl px-1 md:px-0 text-center mx-auto text-2xl md:text-3xl font-titulos font-normal leading-normal my-22">Este equipo tiene la capacidad de <strong>generar amoniaco</strong> por descomposición de hidróxido de amonio y hacer reacciones químicas <strong>amigables con el ambiente</strong></p>
